:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    /* - Weights: 500, 700 */
}

main {
    display: grid;
    grid-template-columns: 1fr 50%;
    padding: 2rem 4rem 0rem 4rem;
    background-color: var(--Almost-White);
    padding-bottom: 8rem;
}

@media screen and (max-width: 700px) {
    main {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 90dvh;
    }
}

/* DESKTOP HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: var(--Medium-Gray);
    margin-top: -.5rem;
    background-color: var(--Almost-White);
}

.desktop-nav {
    display: flex;
}

.logo-container {
    display: flex;
    align-items: center;
}

.desktop-nav-items {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    font-size: .8rem;
    padding-right: 1rem;
    cursor: pointer;
}

.nav-item:hover {
    font-weight: 700;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-buttons>button {
    background: none;
    color: var(--Medium-Gray);
    border: 1.5px solid var(--Medium-Gray);
    border-radius: .7rem;
    padding: 0.5rem 1.2rem;
    font-size: .8rem;
    cursor: pointer;
}

.desktop-nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

@media screen and (min-width: 700px) {
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    header {
        margin: 0;
    }
}

/* DESKTOP DROPDOWN SUBMENUS */

.dropdown {
    position: absolute;
    top: 3.5rem;
    left: 5rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    padding: 1.5rem 1rem;
}

.company-dropdown {
    position: absolute;
    top: 3.5rem;
    left: 14.5rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    padding: 1.5rem 1rem;
}

.submenu {
    display: flex;
    flex-direction: column;
    margin-left: -2rem;
}

.submenu-item {
    font-size: .8rem;
    margin-bottom: -.2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.submenu-item:hover {
    font-weight: 700;
}

.submenu-item>img {
    padding-right: .8rem;
}

.active {
    font-weight: 700;
}

/* MOBILE NAV */
.hamburger {
    cursor: pointer;
}

.mobile-nav-sidebar {
    position: absolute;
    background-color: white;
    color: var(--Medium-Gray);
    top: 0;
    right: 0;
    width: 60vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem;
    line-height: 1.5rem;
    z-index: 99;
}

.nav-list {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    padding-right: 1rem;
    cursor: pointer;
    padding-top: 4rem;
    padding-left: 0;
}

.nav-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.close-btn-container>img {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.nav-btn {
    background: none;
    color: var(--Medium-Gray);
    border: 1.5px solid var(--Medium-Gray);
    border-radius: .7rem;
    padding: 0.5rem 1.2rem;
    font-size: .8rem;
    cursor: pointer;
}

.mobile-dropdown {
    padding: 1.5rem 1rem;
    line-height: 1.5rem;
}

@media screen and (max-width: 700px) {
    .desktop-nav-items {
        display: none;
    }

    .header-buttons {
        display: none;
    }
}


/* HERO IMAGE */
.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image>img {
    max-height: 70dvh;
}

.mobile-hero-image {
    height: 33dvh;
    z-index: 1;

}

.mobile-hero-image>img {
    width: 100%;
    max-width: 100%;
}

@media screen and (max-width: 700px) {
    .hero-image {
        display: none;
    }

    .mobile-hero-image {
        display: flex;
    }
}

@media screen and (min-width: 700px) {
    .mobile-hero-image {
        display: none
    }
}

/* HERO CONTENT */
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4rem;
    padding-top: 4rem;
}

.hero-content>h1 {
    font-size: 4.5rem;
    margin: 0;
}

.hero-content>p {
    color: var(--Medium-Gray);
    padding-right: 7rem;
    line-height: 1.5rem;
    margin: 0;
}

.button-container>button {
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    border: none;
    border-radius: .7rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.button-container>button:hover {
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
    font-weight: 700;
    border: 1px solid var(--Almost-Black);
    border-radius: .7rem;
    padding: 1rem 1.5rem;
}

@media screen and (max-width: 700px) {
    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
        height: 60dvh;
        padding: 0;
    }

    .hero-content>h1 {
        font-size: 2rem;
        display: block;
    }

    #line-break {
        display: none;
    }

    .hero-content>p {
        padding: 0;
    }

    .button-container {
        padding: 1rem 0 2rem 0
    }
}

/* LOGOS */
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0;
    padding-right: 2rem;
}

@media screen and (max-width: 700px) {
    .icons {
        padding: 0 0 2rem 0;
    }

    .icons>img {
        max-width: 70px;
    }
}

/* Javascript classes */

.overlay {
    background-color: rgba(0, 0, 0, .7);
    z-index: 55;
}

.hidden {
    display: none;
}